# CLASSES and OBJECTS

In [1]:
1+3

4

In [2]:
i=10
print(type(i))

<class 'int'>

In [3]:
a="vignesh babu"
print(type(a))

<class 'str'>

In [4]:
class test:
    pass

In [5]:
a=test()
print(type(a))

<class '__main__.test'>

In [ ]:
class name:
    pass
a=name()
a.surname="vicky"
a.d_o_b=19

In [11]:
print(a)

<__main__.test object at 0x000001D7FC38ACC8>

In [12]:
a.surname

AttributeError: 'test' object has no attribute 'surname'

In [17]:
class person:
    pass

In [18]:
a=person()
a.name="vignesh babu"
a.d_o_b=1999
print(a)

<__main__.person object at 0x000001D7FC492248>

In [19]:
print(" %s was born in %d" %
      (a.name,a.d_o_b))

 vignesh babu was born in 1999

In [20]:
class person:
    def __init__(self,name,surname):
        self.name=name
        self.surname=surname

In [21]:
a=person("vignesh","vicky")
a.name

'vignesh babu'

In [30]:
class person:
    def __init__(self,name,surname,year_of_birth):
        self.name=name
        self.surname=surname
        self.year_of_birth=year_of_birth

In [31]:
a=person("vignesh","vicky",1999)
a.name

'vignesh'

# ABSTRACTION CLASS

In [32]:
class person:
    def __init__(self,name,surname,year_of_birth):
        self.name=name
        self._surname=surname
        self.__year_of_birth=year_of_birth

In [33]:
a=person("vignesh","vicky",1999)
a.name

'vignesh'

In [35]:
a._surname

'vicky'

# Inheritance

In [62]:
class person:
    def __init__(self,a,b,c=10):
        self.a=a
        self.b=b
        self.c=c

In [64]:
d=person(1,2,3)
d.a

1

In [65]:
class xyz(person):
    def __init__(self,a,b):
        super().__init__(a,b)

In [69]:
e=xyz("vignesh","vicky")
e.a

'vignesh'

In [72]:
isinstance(e,xyz)

True

# Polymorphism and Duck typing

In [73]:
def sum(a,b):
    return a+b

In [74]:
sum(1,2)

3

In [75]:
sum([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]